{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
 <nav class="navbar">

                <div class="navbar-brand">
                    <a class="navbar-item logo" href="/">
                                <img src="/static/img/surffers-logo.png" width="112" height="28">
                            </a>
                    <span class="navbar-item is-hidden-desktop">
              <a href="{% url 'account_signup' %}" >
                                 <span>Signup</span>
                             </a>
          </span>
                    <span class="navbar-item is-hidden-desktop">
               <a class="button is-primary is-rounded is-small" href="{% url 'account_login' %}">
                                <span>Login</span>
                            </a>
          </span>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                         <span class="navbar-item">
                             <a class="has-text-primary" href="{% url 'account_signup' %}">
                                 <span>Signup</span>
                             </a>
                         </span>
                        <span class="navbar-item">
                            <a class="button is-primary is-rounded" href="{% url 'account_login' %}">
                                <span>Login</span>
                            </a>
                        </span>
                    </div>
                </div>

        </nav>
<section class="section">
            <div class="columns is-centered">
                <div class="column is-2">
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p class="title is-5 ">
                            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                        </p>
                        <br>
                        <form action="{% url 'account_reset_password' %}" class="password_reset" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <input class="button is-primary is-rounded" type="submit" value="{% trans 'Reset My Password' %}"/>
                        </form>
                        <br>
                        <p class="title is-6 has-text-centered">{% blocktrans %}Please contact us if you have any
                            trouble resetting
                            your password.{% endblocktrans %}</p>
                    </div>
                </div>
</section>

{% endblock %}