{% load static %}
{% load humanize %}

{% block content %}
<div id="addd-category">


        <a class="button is-primary is-outlined" @click="toggleDialog">
                ➕ Create a category
            </a>




<!-- ModalDeletedCategory -->
<div class="modal" v-bind:class="{ 'is-active': showDialog }">
<div class="modal-background"></div>


    <div class="modal-card">

      <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">
<!--        Create category-->
        Create a category
      </p>
      <button class="delete" aria-label="close" @click="showDialog = !showDialog"></button>
    </header>


   <footer class="modal-card-foot">


                <div class="column is-12">



        <form class="form-add-category" method="post" enctype="multipart/form-data">
          {% csrf_token %}






<div class="field is-horizontal">
  <div class="field-label is-normal">
<!--    <label class="label">Title</label>-->
    <label class="label">Title:</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        {{ AddCategoryForm.title }}
      </div>
      <p class="help">The title should convey the essence of the category.</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Description:</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        {{ AddCategoryForm.body }}
      </div>
      <p class="help">The description should be short and clear.</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary login" type="submit" >
          Create
        </button>
      </div>
    </div>
  </div>
</div>

        </form>


</div>

            </footer>

  </div>

</div>
<!-- EndModalDeletedCategory -->





</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#addd-category',
    delimiters: ['[[', ']]'],
    data() {
      return {
        showDialog: false,
      }
    },
    methods: {
      toggleDialog(id) {
        this.showDialog = true
      },
    }
  })
</script>

{% endblock %}