
{% load static %}
{% load humanize %}


{% block content %}

<div id="btn-unfollow">
    
    <a @click="toggleDialog"  class="button is-primary is-outlined is-small is-rounded">
        <i class="fas fa-check icon"></i>
      </a>

    <!-- ModalDeletedCategory -->
<div class="modal" v-bind:class="{ 'is-active': showDialog }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">You are sure?</p>
            <button class="delete" aria-label="close" @click="showDialog = !showDialog"></button>
        </header>
        <section class="modal-card-body">
<!--             Их закладки больше не будут отображаться в вашей ленте!-->
                Their bookmarks will no longer appear in your feed!
        </section>
        <footer class="modal-card-foot">
            <a href="{% url 'unfollow_user' user.username %}" class="card-footer-item has-text-danger" >Unfollow</a>
            <a class="card-footer-item" @click="showDialog = !showDialog">
                Cancel
            </a>
        </footer>
    </div>
</div>
<!-- EndModalDeletedCategory -->
</div>


{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#btn-unfollow',
        delimiters: ['[[', ']]'],
        data() {
            return {
                showDialog: false,
            }
        },
        methods: {
            toggleDialog() {
                this.showDialog = true
            },
        }
    })
</script>
{% endblock %}