.delete.category-dropdown {
    right: 5%;
    top: 5%;
    position: absolute;
}
.button.category-delete {
    width: 30px;
    max-width:30px;
    margin-right: 10px;
}
.button.category-edit {
    width: 30px;
    max-width:30px;
    margin-right: 10px;

}

.hero-body #add-bookmark {
     width: 100px;
     margin: 0 auto;
     display: block;
}
.btn-category {
   width: 100%;
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.visit-title {
    padding-top: 10px;
}
.hero-body {
    max-width: 700px;
    margin: 0 auto;
}
span .add-category img {
    margin-top: 10px;
    cursor: pointer
}
