.container-card {
  position: relative;
  width: 100%;
  min-width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.card-footer i {
    margin-right: 20px;
}
.card {
  width: 100%;
   border-radius: 10px;
    margin: 5px;
}
.card.home:hover {
   transform: scale3d(1.009, 1.009, 2);
}
.card a:hover {
    text-decoration: underline;
}

.card.home {
    width: 255px;
    height: 320px;
    margin: 5px;
  display: flex;
  flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
   cursor: pointer;
}



/* Dashboard */
.card.dashboard {
   width: 255px;
    height: 300px;
    margin: 5px;
  display: flex;
  flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
   cursor: pointer;
}


.card.comment {
      width: 100%;
      height: 100%;
}

.card-footer-item.icon-bookmark{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 22px;
    padding: 15px;
    border: none;

}
.card.detail{
    width: 100%;
}
.card.follows-lists{
    width: 550px;
}
.card.bookmark {
     width: 300px;
    height: 300px;
    margin: 5px;
  display: flex;
  flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
   cursor: pointer;
}
.card-footer {
    width: 100%;
}

.card-footer-item.icon-bookmark-test {
    border: none;
}
/* Logout*/
.card.logout {
top: 200px;
 width: 300px;
    height: 300px;
    margin: 5px;
  display: flex;
  flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
   cursor: pointer;
}

.suppoprt-me {

  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  z-index: 9;
}



