@media (max-width: 25600px) {
.navbar {
    border: none;
    width: 100%;

    background: transparent;
    z-index: 11;
    position: fixed;
}
.navbar-brand .logo {
    display: none;
}
.add-category {
    display: none;
}
footer.footer {
    background: transparent;
}
  }

  @media (min-width: 1920px) {

  }

  @media (max-width: 1680px) {


  }

  @media (max-width: 1440px) {


  }



  @media screen and (max-width: 1024px) {

    .navbar {
        display: block;
    }
     #addd-category {
        display: none;
    }
  }

 @media screen and (max-width: 768px) {
    .navbar {
        display: block;
    }
    #addd-category {
        display: none;
    }
}


@media (max-width: 550px){
.navbar {
    border: none;
     background: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    width: 100%;
    z-index: 55;
}
.navbar-brand .logo {
    display: block;
}
.add-category {
    display: block;
}
#addd-category {
    display: none;
}

}


