@media (max-width: 25600px) {
  .card {
  width: 31%;
}
.column .tabs.home{
        display: none;

    }
  }

  @media screen and (max-width: 1920px) {

::-webkit-scrollbar {
   display: none;
}

::-webkit-scrollbar-thumb {
   display: none;
}

  }

  @media (max-width: 1680px) {
  .card {
  width: 31%;
}
.card.home {
  width: 31%;
}
.column .tabs.home{
        display: none;

    }
  }

  @media (max-width: 1440px) {
  .card {
  width: 31%;
}
.card.home {
  width: 31%;
}
.column .tabs.home{
        display: none;

    }
  }



  @media screen and (min-width: 1024px) {

  }

 @media screen and (max-width: 768px) {
 .navbar-item.is-hidden-desktop-only {
 display: none;
 }
 .home-left-sidebar {
    display: none;
 }
 .column.sidebar-users {
 display: none;
 }

    }


 @media (max-width: 550px){
 .column.video {
 display: none;
 }
 .navbar-item.is-hidden-desktop-only {
 display: none;
 }
 .category-body {
    display: none;
}
 .column .tabs.home {
        display: block;
    }
  .title.home {
     display: none;
  }
 .navbar__logo {
    margin-left: 20px;
 }
 .home-left-sidebar {
    display: none;
 }
 .column.sidebar-users {
 display: none;
 }


::-webkit-scrollbar {
   display: none;
}

::-webkit-scrollbar-thumb {
   display: none;
}
}



 @media (max-width: 320px){
 .card {
  width: 46%;
}
.card.home {
   width: 46%;
}
 }
  @media (max-width: 360px){
 .card {
  width: 46.7%;
}
.card.home {
   width: 46.7%;
}
 }
  @media (max-width: 411px){
 .card {
  width: 46.7%;
}
.card.home {
   width: 46.7%;
}
 }
 @media screen and (min-width: 320px) {
    .card {
  width: 46%;
}
.card.home {
   width: 46%;
}
    }

  @media screen and (max-width: 280px) {
    .card {
  width: 100%;
}
.card.home {
   width: 100%;
}
    }