

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;

}



.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 1px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 10px;
	top: 5px;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: -5px;
	left: 7px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 30px;
	height: 1px;
	background: #c7cacb;
	position: absolute;
	top: 10px;
	left: -30px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 38px;
	clear: both;
	margin-top: 15px;
}







