.right-side-button-login {
  position: absolute;
  right: 70px;

  top: 0;
  height: 100%;
  border: 0;
  width: 52px;
  display: none;
  z-index: 99;
  cursor: pointer;
}

.navbar-end.navbar-burger {
    height: auto;
    margin-top: 5px;
    width: auto;
}
.navbar-burger.right-side-button {
    display: block;
}

.icon.navbar {
    margin-right: 20px;
}