.container {
  display: flex;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.tag.sidebar-category {
    float: right;
    height: auto;
}




/* Right sidebar */
.box.right-sidebar {
    margin-top: -15px;
    background-color: transparent;
}


.right-side {
  width: 280px;
  flex-shrink: 0;
  margin-left: auto;
  overflow: auto;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 9;
}
.logo {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 4px;
  position: sticky;
  top: 0;

}

.side-title {
  color: #5c5e6e;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (max-width: 1210px) {
  .right-side {
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    height: 100%;
    transform: translateX(280px);
    z-index: 4;
  }
  .right-side.active {
    transform: translatex(0);
  }
}

.main {
  height: 100%;
  margin: 0 auto;
  flex-grow: 1;
  overflow: auto;
}



.side-wrapper {
  padding: 30px;
}



.follow-me {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: auto;
  overflow: hidden;
  padding: 0 20px;
  height: 52px;
  flex-shrink: 0;
  position: relative;
  color: #9c9cab;
}
.follow-me .buttons {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.follow-me .buttons .button {
    border: 1px solid red;
    width: 70px;
}
.follow-text {
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-left: 10px;
}

.list-theme {
display: flex;
}
.theme {
    padding: 5px;
}




.main-container {
margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}



.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 39, 59, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
@media screen and (max-width: 1210px) {
  .overlay.active {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.right-side-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 0;
  width: 52px;
  display: none;
  z-index: 99;
  cursor: pointer;
}

a.side-title {
    cursor: pointer;
}

.icon.sidebar {
    padding-right: 20px;
}




