.container-card-test {
  position: relative;
  width: 100%;
  min-width: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;

  flex-wrap: wrap;
  justify-content: start;

}

.card.test {
    width: auto;

    margin: 5px;
  display: flex;

}
.card.test .content {


}

.card-footer-item.icon-bookmark-test {


    border: none;
}

.content.vote {
    margin-left: 20px;
    margin-top: 20px;
    height: 70px;
}
.content.vote .tag {

    height: 70px;
  width: 50px;

}

