{% load static %}
{% load humanize %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}
<footer class="footer section">
    <div class="section">
        <div class="columns is-multiline is-centered">
            <div class="column is-3">
                <h3 class="title is-5">Surffers</h3>
                <nav class="footer-nav">
                    Platform for creating collections of sites and tools. Create categories, save bookmarks, vote,
                    comment and share with your friends.
                </nav>
                <h3 class="title is-5">Follow us</h3>
                <div class="social-links is-flex mt-3">
                    <a class="has-text-primary" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="has-text-primary" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="has-text-primary" href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="column is-1">
            </div>
            <div class="column is-2">
                <h3 class="title is-5">Subscribe</h3>
                <nav class="footer-nav">
                    Subscribe to our weekly newsletter to receive the best tools, resources and discounts!
                </nav>
                <div class="field is-grouped">
<!--                    <p class="control is-expanded has-icons-left">-->
<!--                        <input autocomplete="email" class="input" placeholder="Email" type="email">-->
<!--                        <span class="icon is-small is-left">-->
<!--                      <i class="fas fa-envelope"></i>-->
<!--                    </span>-->
<!--                    </p>-->
                    <p class="control">
                        <a href="#!" class="button is-primary paddle_button" data-theme="none" data-product="{{ 744394 }}" data-email="{{ user.email }}">
                           Purchase Subscription
                       </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="columns is-centered">
            <div class="column is-6">
                <p class="footer-title">
                    Surffers, © 2021
                </p>
            </div>
<!--            <div class="column is-2">-->
<!--                <div class="footer-menu">-->
<!--                    <ul>-->
<!--                        <li><a href="#">Terms</a></li>-->
<!--                        <li><a href="#">Privacy</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}

{% endblock %}