<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}{% endblock %}</title>

    <link href="/static/img/surffers-logo.png" rel="icon" sizes="32x32" type="image/png">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/691d19bd0b.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/light.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>
    {% include "djpaddle_post_checkout.html" %}



{% block content %}

{% endblock %}
<!--        <a class="button is-rounded is-active is-primary suppoprt-me" >-->
<!--            ➕-->
<!--        </a>-->


<!-- Scripts -->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.4/dist/alpine.js'></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/js.js' %}"></script>
<script src="{% static 'js/sharer.js' %}"></script>

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
	Paddle.Setup({ vendor: 137716 });
</script>
{% block scripts %}

{% endblock %}
<!-- End Scripts -->
</body>

</html>