{% extends 'base.html' %}
{% block title %}Following | Surffers{% endblock %}

{% load static %}
{% block content %}

<div class="container" x-data="{ rightSide: false, leftSide: false }">
{% include 'core/include/navbar.html' %}
  <div class="main">
      <div class="profile-box">
          <br><br>
  <div class="hero-body">


                         <div class="media">

          {% if user.profile.url %}
             <div class="media-left">
                <a class="card-footer-item icon-bookmark" href="{{ user.profile.url }}" target="_blank"></a>
                 </div>
          {% else %}


                {% endif %}


      <div class="media-content">
        <p class="title is-5">{{ user.username|truncatechars:11 }}</p>
      </div>
            <div class="media-right">
                {% if user != request.user %}

                {% if request.user.profile in user.profile.followed_by.all %}
                <!-- Button-unfollow -->
                {% include 'profiles/include/button-unfollow.html' %}
                <!-- End-button-unfollow -->
                {% else %}

                {% if request.user.is_authenticated %}
                <span class="follow">
                    <a class="button is-white is-outlined follow is-small is-rounded" href="{% url 'follow_user' user.username %}">
                    Follow
                </a>
                </span>
                {% endif %}
                {% endif %}
                {% endif %}
                <br>
                 {% if request.user == user %}

                {% include 'profiles/include/user-edit-profile.html' %}

        {% endif %}
            </div>
    </div>
      <br>
 <p class="subtitle is-6">
                {% if user.profile.bio %}
                {{ user.profile.bio }}
                {% else %}
                No bio
                {% endif %}
            </p>

  </div>
<hr>
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <a class="has-text-white">
                <p class="heading">Links</p>
            <p class="title is-5">{{ user_bookmarks.all|length }}</p>
            </a>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
                   <a href="{% url 'categories' user.username %}" class="has-text-white">
                <p class="heading">Categories</p>
            <p class="title is-5">{{ categories.all|length }}</p>
            </a>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <a href="{% url 'follows' user.username %}">
                <p class="heading">
                    Following
                </p>
                <p class="title is-5 has-text-link">
                    {{ user.profile.follows.count }}
                </p>
            </a>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <a href="{% url 'followers' user.username %}" class="has-text-white">
                <p class="heading">Followers</p>
                <p class="title is-5">{{ user.profile.followed_by.count }}</p>
            </a>
        </div>
    </div>

</nav>
<hr>
</div>
    <div class="main-container">
<div class="container-card">
                    {% for following in user.profile.follows.all %}
                    <div class="card home">
                        <div class="card-content">
                            {% if following.url %}
                <a class="card-footer-item icon-bookmark" href="{{ following.url }}" target="_blank"></a>
          {% endif %}

                            <a href="{% url 'profile' following.user.username %}">
                                <p class="title is-6 bookmark-title">
                                    {{ following.user.username }}
                                </p>
                                <p class="subtitle is-7">
                                        <b>{{ following.followed_by.count }}</b> Followers
                                    </p>
                            </a>
                        </div>
                    </div>
                    {% empty %}



                    <div class="column">
                        <div class="box">
                            <h2 class="title is-6 has-text-centered">Don't have any followers!</h2>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>



  </div>

   {% include 'core/include/right-sidebar.html' %}

</div>

{% endblock %}

{% block scripts %}
<script>
  $("a.icon-bookmark[href^='http']").each(function() {
    $(this).css({
        background: "url(http://www.google.com/s2/favicons?domain=" + this.href + ") left center no-repeat",
        "background-size": "100%",
    });
});

</script>
{% endblock %}