{% extends 'base.html' %}
{% block title %}
{% if user.profile.user.username %}
{{ user.username }}
{% endif %}
{% endblock %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container" x-data="{ rightSide: false, leftSide: false }">
    {% include 'core/include/right-sidebar.html' %}


          <div class="main">
      {% include 'core/include/navbar.html' %}
               <div class="columns is-centered">
      <div class="column is-7">
      <div class="profile-box has-text-centered">
          <br><br>
  <div class="hero-body">
          {% if user.profile.url %}
            <a class="card-footer-item icon-bookmark" href="{{ user.profile.url }}" target="_blank"></a>
          {% else %}

           {% endif %}
      <p class="title is-4">{{ user.username|truncatechars:25 }}</p>

      <div class="tabs is-centered is-small">
          <ul>
              <li><a>{{ user.comments.all|length }} comments</a></li>
            <li><a>{{ number_of_votes }} votes</a></li>

          </ul>
        </div>

        <br>
            <p class="subtitle is-6">
                {% if user.profile.bio %}
                {{ user.profile.bio }}
                {% else %}
                No bio
                {% endif %}
            </p>
 <div class="media profile">
                {% if user != request.user %}

                {% if request.user.profile in user.profile.followed_by.all %}
                <!-- Button-unfollow -->
                {% include 'profiles/include/button-unfollow.html' %}
                <!-- End-button-unfollow -->
                {% else %}

                {% if request.user.is_authenticated %}
                <span class="follow">
                    <a class="button is-primary" href="{% url 'follow_user' user.username %}">
                        Follow
                    </a>
                </span>
                {% endif %}
                {% endif %}
                {% endif %}
                <br>
                 {% if request.user == user %}

                {% include 'profiles/include/user-edit-profile.html' %}

                {% endif %}
            </div>
  </div>

<nav class="level is-mobile profile">
    <div class="level-item has-text-centered">
        <div>
            <a class="has-text-primary">
                <p class="heading">Links</p>
            <p class="title is-5 has-text-primary">{{ user_bookmarks.all|length|intword }}</p>
            </a>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
                   <a href="{% url 'categories' user.username %}" class="title">
                <p class="heading">Categories</p>
            <p class="title is-5">{{ categories.all|length|intword }}</p>
            </a>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <a href="{% url 'follows' user.username %}" class="title">
                <p class="heading">
                    Following
                </p>
                <p class="title is-5">
                    {{ user.profile.follows.count|intword }}
                </p>
            </a>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <a href="{% url 'followers' user.username %}" class="title">
                <p class="heading">Followers</p>
                <p class="title is-5">{{ user.profile.followed_by.count|intword }}</p>
            </a>
        </div>
    </div>

</nav>

</div>

    <div class="main-container">
<div class="container-card">
                    {% for bookmark in user_bookmarks %}
                    <div class="card home">
                    <div class="card-content">
                        {% if user == category.user %}
                        <a class="delete category-dropdown"
                           href="{% url 'bookmark_delete' category.id bookmark.id %}"></a>
                        {% endif %}

                        <div class="media title">
                            <div class="media-left">
                                <a class="card-footer-item icon-bookmark" href="{{ bookmark.url }}" target="_blank"></a>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">
                                    <a class="title is-4" href="{% url 'detail' bookmark.id %}" target="_blank">
                                        {{ bookmark.title|truncatechars:45 }}
                                    </a>
                                </p>

                            </div>
                            <div class="media-right"></div>
                        </div>
                        <div class="content">
                            <a class="subtitle is-6" href="{% url 'detail' bookmark.id %}">
                                {{ bookmark.body|truncatechars:100 }}
                            </a>
                        </div>
                        <div class="content subtitle is-6 ">
                                {{ bookmark.created_at|naturaltime }}
                            &bull;
                            <a class="subtitle is-6" href="{% url 'detail' bookmark.id %}">
                                {{ bookmark.comments.all|length }} comments
                            </a>
                        </div>
                    </div>
                </div>


{% empty %}

                        <div class="box">
                            <p class="title is-6 has-text-centered">
                            No bookmark
                        </p>
                        </div>


                {% endfor %}
                </div>
            </div>



  </div>
      </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script>
  $("a.icon-bookmark[href^='http']").each(function() {
    $(this).css({
        background: "url(http://www.google.com/s2/favicons?domain=" + this.href + ") left center no-repeat",
        "background-size": "contain",
    });
});
</script>



{% endblock %}





