         {% if user.has_subscription %}

                                 {% else %}

<!--            <a href="#!" class="paddle_button" data-product="{{ 744394 }}" data-email="{{ user.email }}" data-passthrough='{"user_id": {{ user.pk }}, "affiliation": "Acme Corp"}'>Buy Now!</a>-->

<!--            <a href="{{ subscription.update_url }}" class="btn btn-lg btn-primary">-->
<!--                Update Payment Method-->
<!--            </a>-->
<!--            <a href="{{ subscription.cancel_url }}" class="btn btn-lg btn-danger">-->
<!--                Cancel Subscription-->
<!--            </a>-->