{% extends 'base.html' %}
{% block title %}Categories | Surffers{% endblock %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="container" x-data="{ rightSide: false, leftSide: false }">
       {% include 'core/include/right-sidebar.html' %}

    <div class="main">
          {% include 'core/include/navbar.html' %}
        <div class="category-box has-text-centered">
            <br><br>
            <div class="hero-body">
                <p class="title is-3">
                    Categories
                </p>
                <p class="subtitle is-4">
                    New user category
                </p>
                <p class="subtitle is-5">
                    Categorie{{ all_categories.all|length|pluralize:"s" }} {{ all_categories.all|length }}
                </p>
            </div>
        </div>

        <div class="main-container">
            <div class="container-card">
                {% for category in page_obj %}
                <div class="card dashboard">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="title is-5">
                                    <a class="title is-5 " href="{% url 'category' category.id %}">
                                        {{ category.title|truncatechars:40 }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="content dashboard">
                            <a class="subtitle is-6" href="{% url 'category' category.id %}">
                                {{ category.body|truncatechars:85 }}
                            </a>
                        </div>
                        <div class="content">
                            by
                            <a class="subtitle is-6 has-text-primary" href="{% url 'profile' category.user.username %}">
                                {{ category.user.username|truncatechars:20 }}
                            </a>
                        </div>

                         <div class="media">
                             <div class="media-left">
                                 <a class="subtitle is-6" href="{% url 'category' category.id %}">
                                     bookmarks
                                 </a>

                                 <div class="tag">
                                {{ category.bookmarks.all|length }}
                            </div>
                             </div>

                       </div>
                    </div>
                </div>
                {% empty %}
                <div class="box">
                    <h2 class="title is-6 has-text-centered">
                        No category
                    </h2>
                </div>
                {% endfor %}
            </div>
            <div class="section">
                {% include 'core/include/pagination.html' %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
  $("a.icon-bookmark[href^='http']").each(function() {
    $(this).css({
        background: "url(http://www.google.com/s2/favicons?domain=" + this.href + ") left center no-repeat",
        "background-size": "22px 22px",
    });
});


</script>


{% endblock %}