{% extends 'base.html' %}
{% block title %}Dashboard | Surffers{% endblock %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="container" x-data="{ rightSide: false, leftSide: false }">
{% include 'core/include/navbar.html' %}
  <div class="main">
      <div class="category-box has-text-centered">
<!--          <div class="search-bar">-->
<!--      <input type="text" placeholder="Search bookmark" />-->
<!--      <button class="right-side-button-tag">-->
<!--          {{ my_categories.all|length }}-->
<!--      </button>-->
<!--    </div>-->
          <br>
          <br>
  <div class="hero-body">
       <p class="title is-4">
                            Dashboard
                        </p>
                        <p class="subtitle is-6">
                           New user bookmarks
                        </p>
      <p>
                            Bookmarks {{ bookmarks.all|length }}
                        </p>

  </div>

</div>
    <div class="main-container">
<div class="columns is-centered">
                <div class="column is-6">
                    <div class="container-card-test">


                    {% for bookmark in page_obj %}

                    <div class="card test">

                        <div class="content vote has-text-centered">
                                   {% if not bookmark.user == request.user %}

  <span class="tag is-primary is-light">
         <a href="{% url 'vote' bookmark.id %}" class="subtitle is-5">
                <i class="fas fa-angle-double-up"></i>
             <br>

             {{ bookmark.number_of_votes }}


         </a>




  </span>

                           {% endif %}

                        </div>



                        <div class="card-content">

                            <p class="title is-6">
                                    <a class="title is-6" href="{% url 'category' bookmark.category.id %}">
                                        {{ bookmark.category.title|truncatechars:20 }}
                                         </a>
                                </p>
                            <div class="media title">
                                <div class="media-left">
                                     <a class="card-footer-item icon-bookmark" href="{{ bookmark.url }}" target="_blank"></a>
                                </div>
                                <div class="media-content">
                                    <a href="{{ bookmark.url }}" target="_blank">
                                <p class="subtitle is-6 bookmark-title">
                                    {{ bookmark.title|truncatechars:150 }}
                                </p>
                                  </a>
                                </div>
                                <div class="media-right"></div>
                            </div>

                            <div class="content subtitle">

                                <a href="{% url 'profile' bookmark.user.username %}" class="subtitle is-6">
                                    by {{ bookmark.user.username|truncatechars:20 }}
                                </a>
                               &bull;
                              <time class="subtitle is-6"> {{ bookmark.created_at|naturaltime }}</time>
                                 &bull;
                                   <a href="{% url 'detail' bookmark.id %}" class="subtitle is-6">
                                           317 comments
                                        </a>
                            </div>



                        </div>
                    </div>


                    {% empty %}
                    <div class="box">
                        <h2 class="title is-6 has-text-centered">
                            Your feed is empty
                        </h2>
                    </div>
                    {% endfor %}




                </div>
                </div>
            </div>

        <div class="section">
                        {% include 'core/include/pagination.html' %}
                 </div>
            </div>



  </div>
   {% include 'core/include/right-sidebar.html' %}
</div>





{% endblock %}

{% block scripts %}
<script>
  $("a.icon-bookmark[href^='http']").each(function() {
    $(this).css({
        background: "url(http://www.google.com/s2/favicons?domain=" + this.href + ") left center no-repeat",
        "background-size": "100%",
    });
});

</script>


{% endblock %}