{% load static %}
{% load humanize %}

{% block content %}
<div id="add-bookmark">


    {% if request.user == user %}
    <a @click="toggleDialog" class="button is-primary">
        +
        Add link
    </a>
    {% endif %}


    <!-- ModalDeletedCategory -->
    <div class="modal" v-bind:class="{ 'is-active': showDialog }">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title has-text-centered">Add link</p>
                <button @click="showDialog = !showDialog" aria-label="close" class="delete"></button>
            </header>
            <footer class="modal-card-foot">
                <div class="column is-12">
                    <form action="" class="form-add-category" enctype="multipart/form-data" id="bookmark-form"
                          method="post" role="form">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Title:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ form.title }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Description:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ form.body }}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Url:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ form.url }}
                                    </div>
                                    <p class="help">

                                        <!--Type or paste url</p>-->
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Tags:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        {{ form.tags }}
                                    </div>
                                    <p class="help has-text-left">
                                        Add tags separated by commas
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary is-medium login" type="submit">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>

            </footer>
        </div>

    </div>
    <!-- EndModalDeletedCategory -->


</div>

{% endblock %}

{% block scripts %}


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#add-bookmark',
    delimiters: ['[[', ']]'],
    data() {
      return {
        showDialog: false,
      }
    },
    methods: {
      toggleDialog(id) {
        this.showDialog = true
      },
    }
  })

</script>

{% endblock %}










